<div class="izquierda">
    <div>
        <h1>BECAJAVA2020</h1>

        <div class="usuario">
            <img src="assets/img/2/Elipse 5.png" alt="Avatar">
            <p>José Lobos Sanhueza</p>
        </div>

        <ul>
            <li>
                <a id="informaciones" href="">Informaciones</a>
                <ul>
                    <li>
                        <a id="reportes" routerLink="/categories">Reportes</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <a routerLink="/login">Cerrar sesión</a>
</div>