.izquierda {
    min-height: 100vh;
}

.izquierda {
    width: 300px;
    background-color: #1B0088;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 0 0 0 12px;
}

.izquierda h1 {
    padding: 40px 0 40px 0;
}

.usuario {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    padding: 20px 0 20px 0;
}

.usuario p {
    padding: 10px 0 0 10px;
}

ul,
li a {
    margin-top: 40px;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul>li>#informaciones {
    background: transparent url("../../../assets/img/2/icono\ \(26\).svg") no-repeat right center;
    padding-right: 80px;
    padding-right: 120px;
    border: 2px solid #ED1650;
    border-top: none;
    border-left: none;
    border-right: none;
}

ul>li>#reportes {
    background: transparent url("../../../assets/img/2/icono\ \(31\).svg") no-repeat left center;
    padding: 10px 125px 10px 30px;
    border: 2px solid #00AFA9;
    border-top: none;
    border-left: none;
    border-right: none;
}

.izquierda>a {
    margin: 20px;
    background: transparent url("../../../assets/img/2/Icon\ material-exit-to-app.svg") no-repeat right top;
    padding-right: 30px;
    color: white;
    text-decoration: none;
}