/***** HEREDADO DIRECTAMENTE DE CATEGORIES ******/

.body {
    display: flex;
}

.derecha {
    width: calc(100% - 300px);
    background: #EDEDED;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    background-color: #0C013B;
    color: white;
}

.cabecera p {
    margin: 20px 20px 20px 0;
    background: transparent url("../../../assets/img/2/Icon\ material-settings.svg") no-repeat left top;
    padding-left: 20px;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding-right: 300px;
}


/*** HEREDADO DEL NAVBAR ***/

ul,
li a {
    margin-top: 40px;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


/******/

.titulo {
    background: transparent url("../../../assets/img/3/Grupo\ 499.svg") no-repeat 2% center;
    padding: 20px 20px 20px 55px;
    background-color: #FFFFFF;
    color: black;
    border-bottom: 1px solid #ED1650;
}

.cuerpo {
    margin: 20px;
    min-height: 72%;
    display: flex;
    flex-direction: row;
}

.categorias {
    padding: 10px 20px 40px 20px;
    margin-right: 20px;
    box-shadow: 2px 0px 38px -13px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

.categorias>ul {
    height: 90%;
    margin-top: 20px;
    columns: 2;
    border: 2px solid#BFBFBF;
}

.categorias>ul>li {
    padding: 10px 0 10px 0;
}

.categorias>h3 {
    color: #1B0088;
}

.reportes {
    padding-right: 82vh;
    box-shadow: 2px 0px 38px -13px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

.reportes>p {
    font-size: 23px;
    color: #1B0088;
    position: relative;
    top: 200px;
    left: 100px;
}


/******/

.categoria,
.informacion {
    margin: 15px;
}

.categoria>h3 {
    color: #1B0088;
    font-size: 22px;
    margin-bottom: 20px;
}

.categoria>form>button {
    background-color: #E9124C;
    border-radius: 3px;
    border: 1px black;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    padding: 6px 28px;
    text-decoration: none;
}

.categoria>form>select {
    appearance: none;
    background: transparent url("../../../assets/img/4/icono\ \(27\).png") no-repeat 96% center;
    border-radius: 3px;
    border: 1px black;
    color: black;
    font-size: 12px;
    padding: 6px 28px 6px 2px;
    margin-right: 20px;
    border: 2px solid #BFBFBF;
}

.informacion {
    border: 2px solid #BFBFBF;
    padding: 20px;
    display: flex;
    min-width: 240%;
    min-height: 73%;
    flex-direction: column;
}

.informacion>h4 {
    color: #0AAFA9;
    font-size: 23px;
    padding-bottom: 20px;
}

.informacion>form>label,
.parametros>label {
    display: none;
}

.informacion>form>#dt {
    appearance: none;
    background: transparent url("../../../assets/img/4/calendario.svg") no-repeat 92% center;
    border-radius: 3px;
    border: 1px black;
    color: black;
    font-size: 12px;
    padding: 10px 30px 10px 10px;
    border: 2px solid #BFBFBF;
    margin-bottom: 20px;
}

.informacion>form>#ia {
    appearance: none;
    background: transparent url("../../../assets/img/4/btn-upload.svg") no-repeat 92% center;
    border-radius: 3px;
    border: 1px black;
    color: black;
    font-size: 12px;
    padding: 10px 30px 10px 10px;
    border: 2px solid #BFBFBF;
    margin-bottom: 20px;
}

.parametros>#p1 {
    appearance: none;
    border-radius: 3px;
    border: 1px black;
    color: black;
    font-size: 12px;
    padding: 10px 30px 10px 10px;
    border: 2px solid #BFBFBF;
    margin: 0 100px 20px 0;
}

.parametros>#p2 {
    appearance: none;
    border-radius: 3px;
    border: 1px black;
    color: black;
    font-size: 12px;
    padding: 10px 30px 10px 10px;
    border: 2px solid #BFBFBF;
    margin-bottom: 20px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 220px;
}

.botones>#pr {
    background-color: #E9124C;
    border-radius: 3px;
    border: 1px black;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    padding: 6px 28px;
    text-decoration: none;
    margin-right: 20px;
}

.botones>#er {
    background-color: transparent;
    border-radius: 3px;
    border: 1px black;
    display: inline-block;
    color: #0AAFA9;
    font-size: 16px;
    padding: 6px 28px;
    text-decoration: none;
    border: 1px solid #0AAFA9;
}