<div class="body">
    <app-navbar>
    </app-navbar>

    <div class="derecha">
        <div class="cabecera">
            <img src="assets/img/2/btn-menu.svg" alt="Menu icono">
            <p>ES</p>
        </div>

        <!--  -->

        <div class="titulo">
            <h2>Reportes</h2>
        </div>

        <div class="cuerpo">

            <div class="categorias">
                <h3>Categorias</h3>
                <ul>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder-2.png" alt="Carpeta"></a>
                    </li>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder-1.png" alt="Carpeta"></a>
                    </li>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder-4.png" alt="Carpeta"></a>
                    </li>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder-5.png" alt="Carpeta"></a>
                    </li>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder-6.png" alt="Carpeta"></a>
                    </li>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder.png" alt="Carpeta"></a>
                    </li>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder-3.png" alt="Carpeta"></a>
                    </li>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder-8.png" alt="Carpeta"></a>
                    </li>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder-7.png" alt="Carpeta"></a>
                    </li>
                    <li>
                        <a routerLink="/reports"><img src="assets/img/3/folder-10.png" alt="Carpeta"></a>
                    </li>
                </ul>
            </div>

            <div class="reportes">

                <p>Seleccione una categoria para ver los reportes</p>
            </div>



        </div>

        <!--  -->
    </div>


</div>