form>button {
    background-color: #E9124C;
    border-radius: 3px;
    border: 1px black;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    padding: 6px 28px;
    text-decoration: none;
}

form>select {
    appearance: none;
    background: transparent url("../../../../../assets/img/4/icono\ \(27\).png") no-repeat 96% center;
    border-radius: 3px;
    border: 1px black;
    color: black;
    font-size: 12px;
    padding: 6px 28px 6px 2px;
    margin-right: 20px;
    border: 2px solid #BFBFBF;
}