.container {
    display: flex;
}

.derecha {
    width: calc(100% - 300px);
    background: #EDEDED;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding-right: 300px;
}